body { 
    cursor: none;
}

.board{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(67, 64, 64);
    margin: auto;    
}

.cell{
    width: 120px;
    height: 120px;
    background-color: rgb(182, 191, 97); 
    margin: 1px;  
    border: 1px black;    
}

#goblin{
    background: url(/src/assets/goblin.png) no-repeat;
    width: 100px;
    height: 100px;
    margin: 25px auto;
}

#goblin:hover{
    cursor:  url(/src/assets/hummer.svg), crosshair;
}
